*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(77, 34, 123);
    margin: 50px 50px;

 
}

#password{
    font-size: 50px;
    color: white;
    line-height: 100px;
    padding: 10px 20px;
}
